name: build and test

on:
  push:
  pull_request:
    branches: [ main ]
    paths:
      - '**.cs'
      - '**.csproj'

jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest    

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.x.x'

      - name: Install dependencies
        run: dotnet restore

      - name: Test
        run: dotnet test --no-restore --verbosity normal