name: Package Nuget and Publish

on:
  release:
    types:
      - published

jobs:
  package_and_publish:

    name: package_and_publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.x.x'
  
      - name: Test
        run: dotnet test --no-restore --verbosity normal    
      
      - name: Create Release NuGet packages
        run: |
          dotnet pack -v normal -c Release --include-symbols --include-source -p:PackageVersion=${{ github.event.release.tag_name }} -o nupkg src/Natron/Natron.csproj
          dotnet pack -v normal -c Release --include-symbols --include-source -p:PackageVersion=${{ github.event.release.tag_name }} -o nupkg src/Natron.Http/Natron.Http.csproj
          dotnet pack -v normal -c Release --include-symbols --include-source -p:PackageVersion=${{ github.event.release.tag_name }} -o nupkg src/Natron.Kafka/Natron.Kafka.csproj
          dotnet pack -v normal -c Release --include-symbols --include-source -p:PackageVersion=${{ github.event.release.tag_name }} -o nupkg src/Natron.AWS/Natron.AWS.csproj
      
      - name: Publish Nuget packages
        run: |
          dotnet nuget push nupkg/Natron.${{ github.event.release.tag_name }}.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate
          dotnet nuget push nupkg/Natron.Http.${{ github.event.release.tag_name }}.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate
          dotnet nuget push nupkg/Natron.Kafka.${{ github.event.release.tag_name }}.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate
          dotnet nuget push nupkg/Natron.AWS.${{ github.event.release.tag_name }}.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate  